{% extends "base.html" %}

{% block content %}
  <section class="page-section clearfix">
    <div class="container-fluid">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Welcome to the FHSU Internship website</span>
                    </h2>
                    <p class="mb-3">FHSU offers a number of IT internship services including, click here to view: </p>
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" href="{% url 'jobs' %}">All Services</a>
                    </div>
                </div>
</section>
{% endblock %}